h1 {
  font-size: 45px;
  color: red;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("images/rock-paper-scissors.jpg");
  background-repeat: repeat-x;
  background-position: middle;
  background-size: 150px;
  background-color: lightskyblue;

  font-family: "Swanky and Moo Moo", cursive;
}

.selection-choice {
  padding: 0;
  margin: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: whitesmoke;
}
.selections {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.selection-choice:hover {
  transform: scale(1.1);
}

button {
  height: 60px;
  width: 100px;
  border: 5px solid red;
  background-color: lightpink;
  cursor: pointer;
}
button:hover {
  transform: scale(0.9);
  background-color: red;
  border: ridge solid;
  cursor: pointer;
}
.results {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.scores {
  margin-left: 0.1rem;
  font-size: 0.7rem, bold;
  color: red;
  margin-left: auto;
  margin-right: auto;
}
