h1 {
  font-size: 45px;
  color: red;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 45px;
  text-align: center;
}

body {
  background-image: url("images/rock-paper-scissors.jpg");
  background-repeat: repeat-x;
  background-size: 150px;
  background-color: aqua;
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 45px;
  padding: 110px;
  text-align: center;
}

p {
  text-align: center;
}

.selection-choice {
  padding: 0;
  margin: 0;
  border-radius: 70%;
  justify-items: center;
  align-items: center;
  background-color: lightgray;
}

.selections {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 0px;
}

.selection-choice:hover {
  transform: scale(1.1);
}

.displayResults {
  justify-items: center;
  align-items: center;
  font-size: 45px;
  color: red;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

div.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-right: 80px;
  margin-left: 80px;
  padding-bottom: 600px;
}
.container {
  font-size: 50px;
}

.player-scores {
  justify-items: center;
  font-size: 50px, bold;
  color: red;
  margin-right: auto;
  padding: 5px;
}

.computer-scores {
  font-size: 50px, bold;
  color: red;
  flex-direction: row;
  margin-right: 40px;
}
